.board-container {
	width: 660px;
	height: 660px;
	margin: 0 auto;
	position: relative;
	background: #ccc;

	.board {
		cursor: pointer;
		width: 600px;
		height: 600px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -300px 0 0 -300px;
		background: #ddd;

		canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 600px;
			height: 600px;
		}
	}
}

.cell {
	width: 56px;
	height: 56px;
	position: absolute;
	background-color: #eee;
	opacity: 0;
	z-index: 100;
	pointer-events: none;
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
	color: black;
}